.list {
  display: flex;
  width: 100%;

  flex-direction: column;
  gap: 10px;

  &.hide {
    display: none;
  }

  &Item {
    & a {
      text-align: center;
      display: block;
      width: 100%;
      padding: var(--padding-4) var(--padding-2);
      background-color: var(--bg);
      cursor: pointer;
      border-radius: var(--border-radius-5);
      transition: 0.3s all ease;

      &:hover {
        filter: brightness(80%);
      }

      &:hover {
        filter: brightness(70%);
      }
    }

  }
}