@import "reset/reset";
@import "variables/variables";
@import "fonts/fonts";

@import "themes/dark";
@import "themes/light";


.app {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}


.react-calendar__navigation {
  &:hover {
    background: var(--bg);
  }

  margin-bottom: 50px !important;

  &__label, &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text) !important;

    &:hover {
      background-color: var(--bg-dark);
    }
  }
}

.react-calendar__tile--active {
  background-color: rgba(134, 134, 134, 0.5) !important;
  color: var(--primary) !important;
}

.react-calendar__tile--now {
  background-color: var(--primary) !important;
  filter: brightness(150%);
  color: var(--text-invert) !important;

}

._WuQ0f, ._3lLk3, ._2dZTy, ._35nLX {
  fill: var(--bg) !important;
  color: var(--text) !important;
  background-color: var(--bg);
}