.wrapper {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 20px;
  & .button {
    margin-left: auto;
  }
  & .content {
    display: flex;
    gap: 20px;

    & .info {
      flex: 1 1 auto;
    }

    & .body {
      display: grid;
      margin-bottom: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}