.wrapper {
  background-color: var(--bg-dark);
  & .content {
    display: flex;
    gap: 20px;

    & .info {
      flex: 1 1 auto;
    }

    & .body {
      margin: 20px 0 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}