/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
    --ion-background-color: #F3F5F4;
}

/* Set text color of the entire app for iOS only */
:root.ios {
    --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
    --ion-text-color: #222;
}