.wrapper {
  padding: 30px;
  border: 3px dashed var(--black);
  border-radius: var(--border-radius-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & .img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  & .name {
    border-radius: var(--border-radius-1);
    padding: 10px 40px;
    background-color: var(--secondary);
  }
}