.app.dark {
  /* Темная тема */
  --primary: #5853FF;

  --secondary: #EBF24A;

  --success: #52c41a;

  --warning: #faad14;

  --danger: #f5222d;

  --info: #1890ff;

  --link: #096dd9;

  --white: #ffffff;
  --black: #000000;

  --text: #ffffff;
  --text-invert: #000000;

  --bg: #262626;
  --bg-dark: #1f1f1f;
}