.app.light {
  /* Светлая тема */
  --primary: #5853FF;

  --secondary: #EBF24A;

  --success: #52c41a;

  --warning: #faad14;

  --danger: #f5222d;

  --info: #1890ff;

  --link: #096dd9;

  --white: #ffffff;
  --black: #000000;

  --text: #000000;
  --text-invert: #ffffff;

  --bg: #ffffff;
  --bg-dark: #E4ECFF;
}